In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import *

In [22]:
spark = SparkSession.builder.appName('banking').getOrCreate()

In [23]:
df = spark.read.csv(path = "bankmarketdata.csv", header=True, sep = ";", escape = ",", inferSchema = True )

In [36]:
df.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [35]:
count = df.count()
count

45211

In [37]:
df1 = df[df['y'] == 'yes']
df2 = df[df['y'] == 'no']

In [27]:
count_yes = df1.count()

In [28]:
success_rate = count_yes/count
success_rate*100

11.698480458295547

In [11]:
count_no = df2.count()

In [30]:
failurerate = count_no/count
failurerate*100

88.30151954170445

In [31]:
df.select(max(df.age)).show()

+--------+
|max(age)|
+--------+
|      95|
+--------+

In [14]:
df.select(min(df.age)).show()

+--------+
|min(age)|
+--------+
|      18|
+--------+

In [15]:
df.select(mean(df.age)).show()

+-----------------+
|         avg(age)|
+-----------------+
|40.93621021432837|
+-----------------+

In [32]:
df.select(mean(df.balance)).show()

+------------------+
|      avg(balance)|
+------------------+
|1362.2720576850766|
+------------------+

In [17]:
df.approxQuantile('balance', [0.5], 0)

[448.0]

In [33]:
df1.groupBy('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 31|  206|
| 85|    4|
| 65|   21|
| 53|   85|
| 78|   14|
| 34|  198|
| 28|  162|
| 76|   16|
| 26|  134|
| 27|  141|
| 44|   93|
| 22|   40|
| 47|  113|
| 52|   85|
| 40|  116|
| 20|   15|
| 57|   78|
| 54|   84|
| 48|   82|
| 19|   11|
+---+-----+
only showing top 20 rows

In [34]:
df1.groupBy('marital').count().show()

+--------+-----+
| marital|count|
+--------+-----+
|divorced|  622|
| married| 2755|
|  single| 1912|
+--------+-----+

In [20]:
df1.groupBy('age','marital').count().show()

+---+--------+-----+
|age| marital|count|
+---+--------+-----+
| 42|  single|   22|
| 66| married|   22|
| 28| married|   20|
| 59| married|   66|
| 61| married|   47|
| 21|  single|   21|
| 29|  single|  133|
| 70|divorced|    5|
| 56|  single|    6|
| 74| married|   11|
| 64|divorced|    4|
| 40|  single|   31|
| 45|  single|   14|
| 69| married|   13|
| 77| married|   19|
| 57|divorced|   15|
| 21| married|    1|
| 53| married|   60|
| 53|divorced|   18|
| 33| married|   97|
+---+--------+-----+
only showing top 20 rows